# extends 'base.html'

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      # for post_db in post_dbs
        <tr>
          <td>{{post_db.key.id()}}</td>
          <td>{{post_db.title}}</td>
          <td>{{post_db.date}}</td>
          <td>{{post_db.body}}</td>
        </tr>
      # endfor
    </tbody>
  </table>
# endblock